{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>
            Welcome to Unknown Corp Not Limited.<br />
            The only place where you get fired for no reason.
        </h1>
    </div>
{% endblock %}